   
      .Content{
        grid-area: c;
        font-size: 20px;
        color:wheat;
        background-color: black;
        
        }
        .Content .Image{
          width: 100%;
        }

        .Post{
          background-color: black;
        }