.wrapper{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 'h h'
    'n c';
}

.app-wrapper-content{
        grid-area: c;
        font-size: 20px;
        color:wheat;
        background-color: grey;
        }