.Navbar{
    grid-area: n;
    padding: 20px 0 20px 20px;
    font-size: 20px;
    background-color: darkgrey;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    .Navbar a{
        text-decoration: none;
    }


  